/* roulette-calculator/css/calculator.css */
table.bet {
  border-collapse: collapse;
  border: 1px solid black;
}

table.bet td,
th {
  border: 1px solid black;
  padding: 2px;
}
table.bet {
  border-collapse: collapse;
  border: 1px solid black;
}

table.bet td,
th {
  border: 1px solid black;
  padding: 2px;
}

table.bet td:first-child,
table.bet td:nth-last-child(2),
table.bet td:last-child {
  width: 80px;
}

table.bet td:nth-last-child(2),
table.bet td:last-child {
  text-align: center;
  position: relative;
}

table.bet td.money::before {
  content: "$";
  position: absolute;
  left: 5px;
}

table.bet td.cash-payout-money::before {
  content: "$";
  position: absolute;
  left: 5px;
}

table.bet td.cash-payout-money::before {
  content: "$";
  position: absolute;
  left: 5px;
}

button.bet-button {
  width: 14%;
}

button.bet-button.active {
  background-color: blue;
  color: white;
}

dialog {
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form label,
dialog form input {
  margin-bottom: 10px;
}

menu {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

input[type="number"] {
  width: 70px;
}

button.bet-button {
  width: 14%;
}

button.bet-button.active {
  background-color: blue;
  color: white;
}

dialog {
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form label,
dialog form input {
  margin-bottom: 10px;
}

menu {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

input[type="number"] {
  width: 70px;
}

button.cash-chip-payout-dialog-button {
  width: 100%;
}
